.row
    .col-md-3
        include includes/navigation
    .col-md-9
        include includes/breadcrumb

        .page-header
            h1 Images

        .row
            .col-sm-12
                input(type="file", ng-file-select="sayHello($files)", multiple)
        .row
            .col-sm-12
                .alert.alert-info(ng-file-drop="sayHello($files)", ng-file-drag-over-class="alert-warning") Drop files here

        .row(ng-if="!images.length && isLoading")
            .col-sm-12
                .text-center
                    i.fa.fa-fw.fa-spinner.fa-spin
                    | Loading images

        .row
            .col-lg-3.col-sm-4.col-xs-6(ng-repeat="img in images")
                a.thumbnail(href="", ng-click="setCurrent($index)", data-toggle="modal", data-target=".image-preview")
                    img.img-responsive.img-rounded(ng-src="{{img.url}}", alt="{{img.name}}", title="{{img.name}}", ng-tooltip, data-placement="top")

.modal.fade.image-preview(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel", aria-hidden="true")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                h4.modal-title Image Preview
            .modal-body
                img.img-responsive.center-block(ng-src="{{current.url}}", alt="{{current.name}}")
            .modal-footer
                .pull-left
                    dl.dl-horizontal.text-left
                        dt Image Name
                        dd {{current.name}}
                        dt Image URL
                        dd {{current.url}}
                        dt Image Size
                        dd {{current.size/1024|number:1}}KB
