.row
    .col-md-3
        include includes/navigation
    .col-md-9
        include includes/breadcrumb

        .page-header
            h1 Images

        .row
            .col-sm-12
                input(type="file", ng-file-select="onFileSelect($files)", multiple)
        .row
            .col-sm-12
                .alert.alert-info(ng-file-drop="onFileSelect($files)", ng-file-drag-over-class="alert-warning")
                    | Drop files here
        .row
            .col-sm-12
                table.table.table-striped
                    thead
                        th.col-sm-1 ID
                        th.col-sm-5 Name
                        th.col-sm-1 Size
                        th.col-sm-1 Type
                        th.col-sm-2 Progress
                        th.col-sm-2
                    tbody
                        tr(ng-repeat="file in selectedFiles")
                            td {{$index+1}}
                            td {{file.name}}
                            td {{file.size/1024|number:1}}KB
                            td {{file.type}}
                            td: progressbar(value="progress[$index]") {{progress[$index]|number:0}}%
                            td.text-danger
                                a(href="", ng-click="remove($index)")
                                    i.fa.fa-fw.fa-times-circle
                                    | Delete
        .row
            .col-sm-12
                div(ng-repeat="file in selectedFiles")
                    | {{$index+1}}: {{file.name}} - size: {{file.size}} - type: {{file.type}}
                    img(ng-show="dataUrls[$index]", ng-src="{{dataUrls[$index]}}", alt="{{file.name}}", style="max-height:50px;max-width:100px;")

        .row(ng-if="!images.length && isLoading")
            .col-sm-12
                .text-center
                    i.fa.fa-fw.fa-spinner.fa-spin
                    | Loading images

        .row
            .col-lg-3.col-sm-4.col-xs-6(ng-repeat="img in images")
                a.thumbnail(href="", ng-click="open($index)")
                    img.img-responsive.img-rounded(ng-src="{{img.url}}", alt="{{img.name}}", title="{{img.name}}", tooltip="{{img.name}}")