.row(ng-file-drop)
    .col-md-3
        ng-include(src="'navigation'")
    .col-md-9
        ng-include(src="'breadcrumb'")

        .page-header
            h1 Images

        .row
            .col-sm-4
                .form-group
                    label(for="filesInput") Files input
                    input#filesInput(type="file", ng-file-select, multiple)
                    p.help-block Select multiple files

            .col-sm-8
                .panel.panel-default.text-center
                    .panel-body(ng-file-drop, ng-file-over="bg-primary") Drop Files

        .row
            .col-sm-12
                hr
                h3 Upload queue
                p Queue length: {{ uploader.queue.length }}
        .row
            .col-sm-12
                table.table
                    thead
                        th.col-sm-6 Name
                        th.col-sm-1 Size
                        th.col-sm-1 Progress
                        th.col-sm-1 Status
                        th.col-sm-3 Actions
                    tbody
                        tr(ng-repeat="item in uploader.queue")
                            td: strong {{item.file.name}}
                            td(nowrap) {{ item.file.size/1024/1024|number:2 }} MB
                            td: progressbar(value="item.progress")
                            td.text-center
                                i.fa.fa-check-circle-o.text-success(ng-show="item.isSuccess")
                                i.fa.fa-ban.text-warning(ng-show="item.isCancel")
                                i.fa.fa-times-circle-o.text-danger(ng-show="item.isError")
                            td(nowrap)
                                button.btn.btn-success.btn-xs(ng-click="item.upload()", ng-disabled="item.isReady || item.isUploading || item.isSuccess")
                                    i.fa.fa-fw.fa-upload
                                    | Upload
                                button.btn.btn-warning.btn-xs(ng-click="item.cancel()", ng-disabled="!item.isUploading")
                                    i.fa.fa-fw.fa-ban
                                    | Cancel
                                button.btn.btn-danger.btn-xs(ng-click="item.remove()", ng-disabled="item.isReady || item.isUploading || item.isSuccess")
                                    i.fa.fa-fw.fa-trash-o
                                    | Remove
        .row
            .col-sm-2 Queue progress:
            .col-sm-10: progressbar(value="uploader.progress")
        .row
            .col-sm-12
                button.btn.btn-success.btn-sm(type="button", ng-click="uploader.uploadAll()", ng-disabled="!uploader.getNotUploadedItems().length")
                    i.fa.fa-fw.fa-upload
                    | Upload all
                button.btn.btn-warning.btn-sm(type="button", ng-click="uploader.cancelAll()", ng-disabled="!uploader.isUploading")
                    i.fa.fa-fw.fa-ban
                    | Cancel all
                button.btn.btn-danger.btn-sm(type="button", ng-click="uploader.clearQueue()", ng-disabled="!uploader.queue.length")
                    i.fa.fa-fw.fa-trash-o
                    | Remove all