.row
    .col-md-3
        include includes/navigation
    .col-md-9
        include includes/breadcrumb

        .page-header
            h1 Static Pages

        .btn-toolbar(role="toolbar")
            .btn-group
                button.btn.btn-default(type="button")
                    i.fa.fa-check-square-o
                    i.fa.fa-square-o
            .btn-group
                button.btn.btn-default(type="button", ng-if="publish") Publish
                button.btn.btn-default(type="button") Revert to draft
                button.btn.btn-default(type="button"): i.fa.fa-trash-o

            .btn-group
                button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                    | Sort By 
                    span.caret
                ul.dropdown-menu
                    li(ng-class="{active: sortBy=='title'}")
                        a(href="#", ng-click="setSortBy('title', $event)")
                            i.fa.fa-sort-alpha-asc
                            |  Title 
                    li(ng-class="{active: sortBy=='-title'}")
                        a(href="#", ng-click="setSortBy('-title', $event)")
                            i.fa.fa-sort-alpha-desc
                            |  Title
                    li(ng-class="{active: sortBy=='commentsCount'}")
                        a(href="#", ng-click="setSortBy('commentsCount', $event)")
                            i.fa.fa-sort-amount-asc
                            |  Comments
                    li(ng-class="{active: sortBy=='-commentsCount'}")
                        a(href="#", ng-click="setSortBy('-commentsCount', $event)")
                            i.fa.fa-sort-amount-desc
                            |  Comments
                    li(ng-class="{active: sortBy=='publishedAt'}")
                        a(href="#", ng-click="setSortBy('publishedAt', $event)")
                            i.fa.fa-sort-numeric-asc
                            |  Published
                    li(ng-class="{active: sortBy=='-publishedAt'}")
                        a(href="#", ng-click="setSortBy('-publishedAt', $event)")
                            i.fa.fa-sort-numeric-desc
                            |  Published

            .btn-group.pull-right
                button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                    | {{limit}} 
                    span.caret
                ul.dropdown-menu
                    li(ng-class="{active: limit==10}"): a(href="#", ng-click="setLimit(10, $event)") 10
                    li(ng-class="{active: limit==25}"): a(href="#", ng-click="setLimit(25, $event)") 25
                    li(ng-class="{active: limit==50}"): a(href="#", ng-click="setLimit(50, $event)") 50
                    li(ng-class="{active: limit==100}"): a(href="#", ng-click="setLimit(100, $event)") 100

            .btn-group.pull-right
                button.btn.btn-default(type="button") &laquo;
                button.btn.btn-default(type="button") 1
                button.btn.btn-default(type="button") 2
                button.btn.btn-default(type="button") 3
                button.btn.btn-default(type="button") &raquo;

            p.btn-group.pull-right 1-10 of {{pages.length}}

        hr

        table.table(ng-if="pages.length")
            thead
                tr
                    td
                    td Title 
                    td
                    td Author
                    td
                    td Published
            tbody
                tr(ng-repeat="page in pages | limitTo:limit")
                    td: input(type="checkbox")
                    td: a(ng-href="#/posts/{{page._id}}/edit") {{page.title}}
                    td: span(ng-class="{'text-warning':page.state=='Draft','text-success':page.state=='Published'}") {{page.state}}
                    td: a(ng-href="{{page.author.website}}", target="_blank") {{page.author.name}}
                    td
                        | {{page.commentsCount || 0}} 
                        i.fa.text-muted(ng-class="{'fa-comments-o':page.commentsCount>0,'fa-comment-o':page.commentsCount==0}")
                    td {{page.publishedAt|date:'mediumDate'}}