.row
    .col-md-3
        include includes/navigation
    .col-md-9
        include includes/breadcrumb
        .btn-toolbar(role="toolbar")
            .btn-group.btn-group-sm
                button.btn.btn-default(type="button"): i.fa.fa-tags
                button.btn.btn-default(type="button") Publish
                button.btn.btn-default(type="button") Revert to draft
                button.btn.btn-default(type="button"): i.fa.fa-trash-o
            .btn-group.btn-group-sm
                button.btn.btn-default(type="button") &laquo;
                button.btn.btn-default(type="button") 1
                button.btn.btn-default(type="button") 2
                button.btn.btn-default(type="button") 3
                button.btn.btn-default(type="button") &raquo;
        hr