.modal-header
    button.close(ng-click="close()") &times;
    h4.modal-title
        i.fa.fa-fw.fa-stop.text-danger(ng-show="!plugin.status || plugin.status == 'I'")
        i.fa.fa-fw.fa-play.text-success(ng-show="plugin.status=='A'")
        i.fa.fa-fw.fa-exclamation-triangle.text-danger(ng-show="plugin.status=='E'")
        i.fa.fa-fw.fa-exclamation-triangle.text-warning(ng-show="plugin.status=='W'")
        | {{plugin.name}}
.modal-body

    tabset
        tab(heading="Description")
            div.top-buffer(ng-bind-html="plugin.description | unsafe")
        tab(heading="Configuration", disabled="!plugin.configuration")
            div.top-buffer(ng-bind-html="plugin.configuration | unsafe")
        tab(heading="Messages", disabled="!plugin.messages.length")
            div.top-buffer
                alert(ng-repeat="message in plugin.messages") {{message.msg}}

.modal-footer
    span(ng-if="plugin.version") v{{plugin.version}}
    span.pull-left(ng-if="plugin.author")
        span Author: {{plugin.author.name}}
        a(ng-if="plugin.author.url", ng-href="{{plugin.author.url}}", target="_blank")
            sup: i.fa.fa-fw.fa-external-link-square
