.row
    .col-md-3
        ng-include(src="'navigation'")
    .col-md-9
        ng-include(src="'breadcrumb'")

        .page-header
            h1 Plugins

        .row
            .col-sm-2: h3 Active
            .col-sm-10
                .alert.alert-info(ng-if="!info.plugins.length")
                    i.fa.fa-fw.fa-info-circle
                    | There is no Active plugins
                table.table.table-striped(ng-if="info.plugins.length")
                    thead
                        tr
                            th.col-sm-4 Name
                            th.col-sm-5 Description
                            th.col-sm-2 Version
                            th.col-sm-1 Actions
                    tbody
                        tr(ng-repeat="plugin in info.plugins")
                            td: strong {{plugin.name}}
                            td
                                | {{plugin.description}}
                                strong(ng-if="!plugin.description") n/a
                            td
                                | {{plugin.version}}
                                strong(ng-if="!plugin.version") n/a
                            td
                                button.btn.btn-danger.btn-xs(type="button", ng-click="stop(plugin)")
                                    span(ng-hide="plugin.stopping") Stop
                                    span(ng-show="plugin.stopping"): i.fa.fa-spin.fa-spinner

        .row
            hr

        .row
            .col-sm-2: h3 Inactive
            .col-sm-10
                .alert.alert-info(ng-if="!info.disabled.length")
                    i.fa.fa-fw.fa-info-circle
                    | There is no Inactive plugins
                table.table.table-striped(ng-if="info.disabled.length")
                    thead
                        tr
                            th ID
                            th Actions
                    tbody
                        tr(ng-repeat="plugin in info.disabled")
                            td.col-sm-11: strong {{plugin.id}}
                            td.col-sm-1
                                button.btn.btn-success.btn-xs(type="button", ng-click="start(plugin)")
                                    span(ng-hide="plugin.starting") Start
                                    span(ng-show="plugin.starting"): i.fa.fa-spin.fa-spinner
