mixin sortMenu(id, title, icon)
    li(ng-class="{active: sortBy=='#{id}'}"): a(href="", ng-click="setSortBy('#{id}')")
        i.fa.fa-fw(class="#{icon}")
        = title

.row(ng-controller="PostListCtrl")
    .col-md-3
        include includes/navigation
    .col-md-9
        include includes/breadcrumb

        .page-header
            h1 Posts

        .row
            .col-sm-8
                .form-group(ng-if="posts.length")
                    .btn-toolbar(role="toolbar")
                        .btn-group
                            a.btn.btn-default(type="button", href="#/posts/new"): i.fa.fa-plus.text-primary
                            button.btn.btn-default(type="button", ng-click="publish()", ng-hide="crumb[1].id=='live'||crumb[1].id=='scheduled'", ng-disabled="select.isEmpty() || !select.hasType('D')") Publish
                            button.btn.btn-default(type="button", ng-click="draft()", ng-hide="crumb[1].id=='draft'", ng-disabled="select.isEmpty() || !select.hasType('A', 'S')") Revert to Draft
                            button.btn.btn-default(type="button", ng-click="delete()", ng-disabled="select.isEmpty() || !select.hasType('D')"): i.fa.fa-trash-o.text-danger

                        .btn-group
                            button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                                | Sort By&nbsp;
                                span.caret
                            ul.dropdown-menu
                                mixin sortMenu('title', 'Title', 'fa-sort-alpha-asc')
                                mixin sortMenu('-title', 'Title', 'fa-sort-alpha-desc')
                                mixin sortMenu('commentsCount', 'Comments', 'fa-sort-numeric-asc')
                                mixin sortMenu('-commentsCount', 'Comments', 'fa-sort-numeric-desc')
                                mixin sortMenu('publishedAt', 'Publication Date', 'fa-sort-numeric-asc')
                                mixin sortMenu('-publishedAt', 'Publication Date', 'fa-sort-numeric-desc')
                                mixin sortMenu('createdAt', 'Creation Date', 'fa-sort-numeric-asc')
                                mixin sortMenu('-createdAt', 'Creation Date', 'fa-sort-numeric-desc')
                                mixin sortMenu('updatedAt', 'Last Update Date', 'fa-sort-numeric-asc')
                                mixin sortMenu('-updatedAt', 'Last Update Date', 'fa-sort-numeric-desc')

                        p.btn-group(ng-show="!select.isEmpty()", ng-pluralize, count="select.howMany()", when="{'0':'No posts selected', 'one':'{} post selected', 'other':'{} posts selected'}")

            .col-sm-4
                .btn-toolbar.pull-right
                    p.btn-group(ng-show="pg.items") {{pg.from}}-{{pg.to}} of {{pg.items}}
                    .btn-group
                        button.btn.btn-default(type="button", ng-disabled="!pg.hasPrev", ng-click="pg.prev()") &laquo;
                        button.btn.btn-default(type="button", ng-repeat="p in pg.pageRange", ng-click="pg.current=p", ng-class="{active:p==pg.current}") {{p}}
                        button.btn.btn-default(type="button", ng-disabled="!pg.hasNext", ng-click="pg.next()") &raquo;
                    .btn-group
                        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                            | {{pg.pageSize}}&nbsp;
                            span.caret
                        ul.dropdown-menu
                            li(ng-class="{active:pg.pageSize==s}", ng-repeat="s in sizes")
                                a(href="", ng-click="pg.pageSize=s") {{s}}

        .alert.alert-info.text-center(ng-if="!posts.length && !isLoading")
            | No posts. You can create a post&nbsp;
            a(href="#/posts/new") here

        .text-center(ng-if="!posts.length && isLoading")
            i.fa.fa-spinner.fa-spin
            |  Loading &hellip;

        table.table.table-striped(ng-if="posts.length")
            thead
                th.col-sm-1: i.btn-link.fa.fa-fw(ng-class="{'fa-square-o':!select.all,'fa-check-square-o':select.all}", ng-click="selectAll()")
                th.col-sm-4 Title
                th.col-sm-1 Info
                th.col-sm-2 Author
                th.col-sm-1: i.fa.fa-tags(title="Tags")
                th.col-sm-1: i.fa.fa-comments-o(title="Comments")
                th.col-sm-2 Publication
            tbody
                tr(ng-repeat="post in posts | limitTo:pg.pageSize")
                    td: i.btn-link.fa.fa-fw(ng-class="{'fa-square-o':!select.has(post.id),'fa-check-square-o':select.has(post.id)}", ng-click="select.toggle(post.id, status(post))")
                    td: a(ng-href="#/posts/{{post.id}}/edit", ng-class="{'text-warning':!post.title}") {{post.title || '(Untitled post)'}}
                    td
                        i.fa.fa-bookmark-o.fa-fw(ng-if="post.featured", title="Featured")
                        i.fa.fa-fw.text-warning(ng-if="status(post)!='A'", ng-class="{D:'fa-edit',S:'fa-calendar'}[status(post)]", title="{{statusText(post)}}")
                        i.fa.fa-fw.fa-globe.text-success(ng-if="status(post)=='A'", title="{{statusText(post)}}")
                    td: a(ng-href="{{post.author.website}}", target="_blank") {{post.author.name}}
                    td
                        | {{post.labels.length || 0}}
                        i.fa.fa-fw.text-muted(ng-class="{'fa-tag':post.labels.length===1,'fa-tags':post.labels.length>1}")
                        i.fa.fa-fw.text-muted(ng-class="{'fa-tag':post.labels.length===1,'fa-tags':post.labels.length>1}")
                    td
                        | {{post.commentsCount || 0}}
                        i.fa.fa-fw.text-muted(ng-class="{'fa-comments-o':post.commentsCount,'fa-comment-o':post.commentsCount==0}")
                    td(ng-class="{S:'text-warning',D:'text-warning'}[status(post)]") {{post.publishedAt|date:'mediumDate'}}
