.row
    .col-md-3
        include includes/navigation
    .col-md-9
        include includes/breadcrumb

        .page-header
            h1 Redirects

        //- Redirects list
        .row(ng-controller="RedirectsListCtrl")

            table.table.table-striped()
                thead
                    tr
                        th
                        th From
                        th To
                        th
                        th Type
                tbody
                    tr(ng-repeat="item in items", ng-if="items.length")
                        td: input(type="checkbox", ng-click="deleting.toggle(item.id)", ng-checked="deleting.has(item.id)")
                        td: a(href="", ng-click="$emit('edit', item)") {{item.from}}
                        td {{item.to}}
                        td: i.fa(ng-class="{'internal':'fa-star-o','301':'fa-star','302':'fa-star-half-o'}[item.type]")
                        td {{item.type||'internal'}}

            .row
                .pull-right
                    button.btn.btn-danger(type="button", ng-click="delete()", ng-disabled="deleting.isEmpty()") Delete
                    button.btn.btn-default(type="button", ng-click="deleting.empty()", ng-disabled="deleting.isEmpty()") Reset

        hr

        //- Redirect edti / create form
        form.form-horizontal(name="form", ng-controller="RedirectEditCtrl")

            //- Redirect from value
            .form-group(ng-class="{'has-error':!form.from.$valid && !form.from.$pristine}")
                label.col-sm-2.control-label(for="from") From
                .col-sm-6
                    input.form-control#from(type="text", placeholder="From", 
                        ng-model="item.from", name="from", required, ng-trim="false",
                        ng-pattern="path")

            //- Redirect to
            .form-group(ng-class="{'has-error':!form.toinput.$valid && !form.toinput.$pristine}")
                label.col-sm-2.control-label(for="toinput") To
                .col-sm-6
                    input.form-control#toinput(type="text", placeholder="To", 
                        ng-model="item.to", required, ng-trim="true", name="toinput",
                        ng-pattern="path")

            .form-group
                label.col-sm-2.control-label Redirect Type
                .col-sm-8
                    label.radio-inline
                        input(type="radio", ng-model="item.type", value="301", name="type", required)
                        | Moved Permanently (301)
                    label.radio-inline
                        input(type="radio", ng-model="item.type", value="302", name="type", required)
                        | Moved Temporarily (302)
                    label.radio-inline
                        input(type="radio", ng-model="item.type", value="internal", name="type", required)
                        | Internal Forward

            .form-group
                .col-sm-offset-2.col-sm-10
                    button.btn.btn-primary(type="button", ng-disabled="form.$invalid || form.$pristine")
                        span(ng-if="isEdit", ng-click="update()") Update
                        span(ng-if="!isEdit", ng-click="create()") Create
                    button.btn.btn-default(type="button", ng-click="reset()") Reset
