.row
    .col-md-3
        include includes/navigation
    .col-md-9
        include includes/breadcrumb

        .page-header
            h1 Settings

        .row
            .col-md-2: h4 Basic
            .col-md-9
                form.form-horizontal(role="form", name="basicForm")
                    fieldset(ng-disabled="isLoading")
                        .form-group
                            label.col-sm-3.control-label(for="title") Title
                            .col-sm-9
                                input.form-control#title(placeholder="Title", type="text", required, ng-trim="true",
                                    ng-model="settings.title")
                        .form-group
                            label.col-sm-3.control-label(for="description") Description
                            .col-sm-9
                                textarea.form-control#description(placeholder="Description", type="text", ng-trim="true", rows="3",
                                    ng-model="settings.description")

        hr

        .row
            .col-md-2.text: h4 Posts
            .col-md-9
                form.form-horizontal(role="form", name="postsForm")
                    fieldset(ng-disabled="isLoading")
                        .form-group(ng-class="{'has-error':basicForm.postpp.$invalid}")
                            label.col-sm-3.control-label(for="postspp") Posts per page
                            .col-sm-2
                                input.form-control#postspp(type="number", required, min="1", max="100", name="postpp",
                                ng-model="settings.postsPerPage")

        hr
        .row
            .col-md-2: h4 Publishing
            .col-md-9
                form.form-horizontal(role="form", name="pubForm")
                    fieldset(ng-disabled="isLoading")
                        .form-group
                            label.col-sm-3.control-label(for="address") Address
                            .col-sm-9
                                input.form-control#address(placeholder="Address", type="text", required, ng-trim="true",
                                    ng-model="settings.host")
                                p.help-block
                                    i.fa.fa-fw.fa-info-circle
                                    | Address accepts&nbsp;
                                    em hostname[:port]
                                    | &nbsp;format. Default port is 80.

        hr
        .form-group
            fieldset(ng-disabled="isLoading")
                .row
                    .col-md-2
                    .col-md-9
                        .col-md-10.col-md-offset-2
                            button.btn.btn-primary(ng-click="save()") Save
                            button.btn.btn-default(ng-click="reset()") Cancel
