.row
	.col-md-3
		include includes/navigation
	.col-md-9
		include includes/breadcrumb

		.page-header
			h1 Settings

		.row
			.pull-right
				button.btn.btn-primary(ng-click="save()") Save
				button.btn.btn-default(ng-click="reset()") Cancel

		.page-header
			h3 Basic

		form.form-horizontal(role="form", name="basicForm")
			.form-group
				label.col-sm-2.control-label(for="title") Title
				.col-sm-10
					input.form-control#title(placeholder="Title", type="text", required, ng-trim="true",
						ng-model="settings.title")
			.form-group
				label.col-sm-2.control-label(for="description") Description
				.col-sm-10
					textarea.form-control#description(placeholder="Description", type="text", ng-trim="true", row="3",
						ng-model="settings.description")

		.page-header
			h3 Posts

		form.form-horizontal(role="form", name="postsForm")
			.form-group(ng-class="{'has-error':basicForm.postpp.$invalid}")
				label.col-sm-2.control-label(for="postspp") Posts per page
				.col-sm-2
					input.form-control#postspp(type="number", required, min="1", max="100", name="postpp",
					ng-model="settings.postsPerPage")

		.page-header
			h3 Publishing

		form.form-horizontal(role="form", name="pubForm")
			.form-group
				label.col-sm-2.control-label(for="address") Address
				.col-sm-10
					input.form-control#address(placeholder="Address", type="text", required, ng-trim="true",
						ng-model="settings.host")

		.row
			hr
			.pull-right
				button.btn.btn-primary(ng-click="save()") Save
				button.btn.btn-default(ng-click="reset()") Cancel
