.row
    .col-md-3
        include includes/navigation
    .col-md-9
        include includes/breadcrumb

        .page-header
            h1 Settings

        .page-header
            h3 Basic

        .page-header
            h3 Redirections
