.row
    .col-md-3
        include includes/navigation
    .col-md-9
        include includes/breadcrumb
        h1 Themes
        p
        .panel.panel-default
            .panel-heading
                h3.panel-title Blog Theme
            .panel-body
                dl.dl-horizontal
                    dt Name
                    dd: strong Casper
                    dd Some description
                    dt Description
                    dd And another desciption
        
        
        .panel.panel-default
            .panel-heading
                h3.panel-title Admin Console Theme
            .panel-body
                dl.dl-horizontal
                    dt Name
                    dd default