mixin warning(condition)
    p.help-block
        | &nbsp;
        span.text-warning(ng-if="#{condition}")
            i.fa.fa-exclamation-triangle
            |  Theme change has not been saved yet

.row
    .col-md-3
        include includes/navigation
    .col-md-9
        include includes/breadcrumb

        .page-header
            h1 Themes

        .row
            .col-md-3: h4 Site Theme
            .col-md-8
                form.form-horizontal(name="siteForm")
                    fieldset(ng-disabled="isLoading")
                        .form-group
                            label.col-sm-2.control-label(for="siteTheme") Name
                            .col-sm-10
                                select.form-control#siteTheme(ng-model="theme.site.selected", ng-options="t.name for t in theme.site.list")
                        .form-group
                            .col-sm-10.col-sm-offset-2
                                button.btn.btn-primary(ng-click="saveTheme('site')", ng-disabled="!theme.site.changed") Save
                                button.btn.btn-default(ng-click="resetTheme('site')", ng-disabled="!theme.site.changed") Cancel
                        .col-sm-10.col-sm-offset-2
                            mixin warning("theme.site.changed")

        hr

        .row
            .col-md-3: h4 Admin Theme
            .col-md-8
                form.form-horizontal(name="adminForm")
                    fieldset(ng-disabled="isLoading")
                        .form-group
                            label.col-sm-2.control-label(for="adminTheme") Name
                            .col-sm-10
                                select.form-control#adminTheme(ng-model="theme.admin.selected", ng-options="t.name for t in theme.admin.list")
                        .form-group
                            .col-sm-10.col-sm-offset-2
                                button.btn.btn-primary(ng-click="saveTheme('admin')", ng-disabled="!theme.admin.changed") Save
                                button.btn.btn-default(ng-click="resetTheme('admin')", ng-disabled="!theme.admin.changed") Cancel
                        .col-sm-10.col-sm-offset-2
                            mixin warning("theme.admin.changed")
