.row
    .col-md-12
        form.form-horizontal(role="form")
            .form-group
                .col-md-1
                    label.control-label(for="postTitle") Page Title
                .col-md-7
                    input.form-control(type="text", id="postTitle", placeholder="Enter Post Title", ng-model="post.title")
                .col-md-4
                    .btn-group.pull-right
                        button.btn.btn-warning Publish
                        button.btn.btn-default Save
                        button.btn.btn-default Preview
                        button.btn.btn-default Close
hr
.row
    .col-md-3 Panels: {{post|json}}
    .col-md-9 
        textarea.form-control(rows="3")