mixin url(url, date)
    url
        loc= url
        lastmod= date
        changefreq monthly

doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")

    //- Home page
    mixin url(url+'/', $date(now))

    each post in posts
        mixin url($url(post, true), $date(post))
