html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

#footer p {
    margin: 20px 0;
}

li.nav-header > ul {
    padding-left: 1.2em;
}

.postedit .panel-title, .newpost .panel-title {
    font-size: 100%;
}

p.btn-group {
    line-height: 2.5em;
    margin-bottom: 0;
}

.fa + .fa {
    margin-left: .3em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#login .input-group-addon i.fa {
    width: 1.4em;
}

#loading {
    color: #000;
    left: 50%;
    top: 0;
    padding: 3px 6px;
    position: fixed;
    margin-left: -50px;
    z-index: 1001;
    background: #fff1a8 -webkit-gradient(linear,left top,left bottom,from(#ffe090),to(#fff2b0));
    box-shadow: rgba(0,0,0,0.25) 0px -3px 5px,rgba(0,0,0,0.25) 0px 3px 5px;
    -webkit-box-shadow: rgba(0,0,0,0.25) 0px -3px 5px,rgba(0,0,0,0.25) 0px 3px 5px;
}

.CodeMirror-wrap {
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.CodeMirror-focused {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}