doctype html
html
    head
        //- Document Settings
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")

        //- Page Meta        
        title= metaTitle
        meta(name="description" content= metaDescription)

        meta(name="HandheldFriendly", content="True")
        meta(name="MobileOptimized", content="320")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="shortcut icon", href="/favicon.ico")

        //- Styles'n'Scripts
        link(rel="stylesheet", type="text/css", href=$assets('/css/screen.css'))
        link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400")

        //- Platform specific data (including plugin data) TODO
        meta(name="generator", content="Panda 0.0.1")
        link(rel="alternate", type="application/rss+xml", title="Panda", href="/rss/")
        link(rel="canonical", href="http://127.0.0.1:3000/")

    body(class=bodyClass)

        //- Everything else gets inserted here
        block content

        footer.site-footer
            a.subscribe.icon-feed(href="#{url}/rss"): span.tooltip Subscribe!
            .inner
                section.copyright 
                    | All content copyright 
                    a(href=url)= title
                    |  &copy; 2014 &bull; All rights reserved.
                section.poweredby
                    | Responsive Theme powered by 
                    a.icon-ghost(href="http://ghost.org") Ghost

        //- Ghost outputs important scripts and data with this tag
        //- {{ghost_foot}} - not implemented yet

        #fit-vids-style.fit-vids-style(style="display: none;")
            style.
                .fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}

        //- The main JavaScript file for Casper
        script(type="text/javascript", src=$assets("/js/jquery.fitvids.js"))
        script(type="text/javascript", src=$assets("/js/index.js"))

