.navbar-img {
    margin: .25em 1em;
}
.navbar-img img {
    width: 42px;
}

#nprogress .bar {
    background: #f89406;
}

#nprogress .peg {
    box-shadow: 0 0 10px #f89406, 0 0 5px #f89406;
}

#nprogress .spinner-icon {
    border-top-color: #f89406;
    border-left-color: #f89406;
}