.navbar-img {
    margin: .25em 1em;
}
.navbar-img img {
    width: 42px;
}

#nprogress .bar {
    background: #ffffff;
}

#nprogress .peg {
    box-shadow: 0 0 10px #ffffff, 0 0 5px #ffffff;
}

#nprogress .spinner-icon {
    border-top-color: #ffffff;
    border-left-color: #ffffff;
}