mixin post(id, name)
    li(ng-if="postStats.#{id}")
        a(href="#/posts/#{id}", ng-class="{'text-bold':crumb[1].id=='#{id}'}")
            span.badge.pull-right {{postStats.#{id}}}
            = name

ul.nav.nav-list
    li: a(href="#/overview", ng-class="{'text-bold':crumb[0].id=='overview'}")
        i.fa.fa-home
        |  Overview
    li.nav-header
        a(href="#/posts")
            i.fa.fa-file-text.fa-fw
            | Posts
            i.fa.fa-spinner.fa-spin.fa-fw.pull-right.text-info(ng-show="loadingPostStats")
        ul.nav.nav-list(ng-if="crumb[0].id === 'posts' && postStats")
            mixin post('all', 'All')
            mixin post('draft', 'Draft')
            mixin post('live', 'Published')
            mixin post('scheduled', 'Scheduled')
    li.nav-header
        a(href="#/pages")
            i.fa.fa-file.fa-fw
            | Pages
            i.fa.fa-spinner.fa-spin.fa-fw.pull-right.text-info(ng-show="loadingPageStats")
        ul.nav.nav-list(ng-if="crumb[0].id === 'pages' && pageStats")
            li: a(href="#/pages/all")
                span.badge.pull-right {{pageStats.all}}
                | All
            li(ng-if="pageStats.scheduled"): a(href="#/pages/scheduled")
                span.badge.pull-right {{pageStats.scheduled}}
                | Scheduled
            li(ng-if="pageStats.draft"): a(href="#/pages/draft")
                span.badge.pull-right {{pageStats.draft}}
                | Draft
            li(ng-if="pageStats.live"): a(href="#/pages/live")
                span.badge.pull-right {{pageStats.live}}
                | Published

    li: a(href="#/comments", ng-class="{'text-bold':crumb[0].id=='comments'}")
        i.fa.fa-comments.fa-fw
        |  Comments

    li: a(href="#/users", ng-class="{'text-bold':crumb[0].id=='users'}")
        i.fa.fa-user.fa-fw
        |  Users

    li: a(href="#/themes", ng-class="{'text-bold':crumb[0].id=='themes'}")
        i.fa.fa-desktop.fa-fw
        |  Themes

    li.nav-header
        a(href="#/settings")
            i.fa.fa-wrench.fa-fw
            |  Settings
        ul.nav.nav-list(ng-if="crumb[0].id === 'settings'")
            li: a(href="#/settings/basic", ng-class="{'text-bold':crumb[1].id=='basic'}")
                i.fa.fa-cog.fa-fw
                |  Basic
            li: a(href="#/settings/redirects", ng-class="{'text-bold':crumb[1].id=='redirects'}")
                i.fa.fa-share-square-o.fa-fw
                |  Redirects

