ul.nav.nav-list
    li: a(href="#/overview")
        i.fa.fa-home
        |  Overview
    li.nav-header
        a(href="#/posts")
            i.fa.fa-file-text.fa-fw
            | Posts
            i.fa.fa-spinner.fa-spin.fa-fw.pull-right.text-info(ng-show="loadingPostStats")
        ul.nav.nav-list(ng-if="breadcrumb[0].id === 'posts' && postStats")
            li: a(href="#/posts/all")
                span.badge.pull-right {{postStats.all}}
                | All
            li(ng-if="postStats.scheduled"): a(href="#/posts/scheduled")
                span.badge.pull-right {{postStats.scheduled}}
                | Scheduled
            li(ng-if="postStats.draft"): a(href="#/posts/draft")
                span.badge.pull-right {{postStats.draft}}
                | Draft
            li(ng-if="postStats.live"): a(href="#/posts/live")
                span.badge.pull-right {{postStats.live}}
                | Published
    li.nav-header
        a(href="#/pages")
            i.fa.fa-file.fa-fw
            | Pages
            i.fa.fa-spinner.fa-spin.fa-fw.pull-right.text-info(ng-show="loadingPageStats")
        ul.nav.nav-list(ng-if="breadcrumb[0].id === 'pages' && pageStats")
            li: a(href="#/pages/all")
                span.badge.pull-right {{pageStats.all}}
                | All
            li(ng-if="pageStats.scheduled"): a(href="#/pages/scheduled")
                span.badge.pull-right {{pageStats.scheduled}}
                | Scheduled
            li(ng-if="pageStats.draft"): a(href="#/pages/draft")
                span.badge.pull-right {{pageStats.draft}}
                | Draft
            li(ng-if="pageStats.live"): a(href="#/pages/live")
                span.badge.pull-right {{pageStats.live}}
                | Published

    li: a(href="#/comments")
        i.fa.fa-comments.fa-fw
        |  Comments

    li: a(href="#/users")
        i.fa.fa-user.fa-fw
        |  Users

    li: a(href="#/themes")
        i.fa.fa-desktop.fa-fw
        |  Themes

    li.nav-header
        a(href="#/settings")
            i.fa.fa-cogs.fa-fw
            |  Settings
        ul.nav.nav-list(ng-if="breadcrumb[0].id === 'settings'")
            li: a(href="#/settings/basic")
                i.fa.fa-cog.fa-fw
                |  Basic
            li: a(href="#/settings/redirects")
                i.fa.fa-share-square-o.fa-fw
                |  Redirects

