ul.nav.nav-list
    li: a(href="#/overview")
        i.fa.fa-home
        |  Overview
    li.nav-header
        a(href="#/posts")
            i.fa.fa-file-text.fa-fw
            |  Posts
        ul.nav.nav-list(ng-if="breadcrumb[0].id === 'posts' && postsCount")
            li: a(href="#/posts/all")
                span.badge.pull-right {{postsCount.all}}
                | All
            li(ng-if="postsCount.scheduled"): a(href="#/posts/scheduled")
                span.badge.pull-right {{postsCount.scheduled}}
                | Scheduled
            li(ng-if="postsCount.draft"): a(href="#/posts/draft")
                span.badge.pull-right {{postsCount.draft}}
                | Draft
            li(ng-if="postsCount.live"): a(href="#/posts/live")
                span.badge.pull-right {{postsCount.live}}
                | Published
    li.nav-header
        a(href="#/pages")
            i.fa.fa-file.fa-fw
            |  Pages
        ul.nav.nav-list(ng-if="breadcrumb[0].id === 'pages' && breakdown")
            li: a(href="#/pages/all")
                span.badge.pull-right {{breakdown.all}}
                | All
            li(ng-if="breakdown.scheduled"): a(href="#/pages/scheduled")
                span.badge.pull-right {{breakdown.scheduled}}
                | Scheduled
            li(ng-if="breakdown.draft"): a(href="#/pages/draft")
                span.badge.pull-right {{breakdown.draft}}
                | Draft
            li(ng-if="breakdown.live"): a(href="#/pages/live")
                span.badge.pull-right {{breakdown.live}}
                | Published

    li: a(href="#/comments")
        i.fa.fa-comments.fa-fw
        |  Comments

    li: a(href="#/users")
        i.fa.fa-user.fa-fw
        |  Users

    li: a(href="#/themes")
        i.fa.fa-desktop.fa-fw
        |  Themes

    li.nav-header
        a(href="#/settings")
            i.fa.fa-wrench.fa-fw
            |  Settings
        ul.nav.nav-list(ng-if="breadcrumb[0].id === 'settings'")
            li: a(href="#/settings/basic")
                i.fa.fa-cog.fa-fw
                |  Basic
            li: a(href="#/settings/redirects")
                i.fa.fa-share-square-o.fa-fw
                |  Redirects

