extends layout

block content
    ol.breadcrumb
        li: a(href="/admin")= title
        li {{pages[0].name}}
        li(ng-if="pages[1]") {{pages[1].name}}

    .row
        .col-md-3
            ul.nav.nav-list
                li: a(href="#/overview")
                    i.fa.fa-home
                    |  Overview
                li.nav-header
                    a(href="#/posts")
                        i.fa.fa-file-text-o
                        |  Posts
                    ul.nav.nav-list(ng-if="pages[0].id === 'posts'")
                        li: a(href="#/posts/all")
                            span.badge.pull-right 20
                            | All
                        li: a(href="#/posts/scheduled")
                            span.badge.pull-right 0
                            | Scheduled
                        li: a(href="#/posts/draft")
                            span.badge.pull-right 18
                            | Draft
                        li: a(href="#/posts/published")
                            span.badge.pull-right 18
                            | Published
                li.nav-header
                    a(href="#/pages")
                        i.fa.fa-file-o
                        |  Pages
                    ul.nav.nav-list(ng-if="pages[0].id === 'pages'")
                        li: a(href="#/pages/all")
                            span.badge.pull-right 20
                            | All
                        li: a(href="#/pages/scheduled")
                            span.badge.pull-right 0
                            | Scheduled
                        li: a(href="#/pages/draft")
                            span.badge.pull-right 18
                            | Draft
                        li: a(href="#/pages/published")
                            span.badge.pull-right 18
                            | Published
                li
                    a(href="#/comments")
                        i.fa.fa-comments
                        |  Comments

                li: a(href="#/settings")
                    i.fa.fa-wrench
                    |  Settings
        .col-md-9
            div(ng-view)