extends layout

block templates
    script(type="text/ng-template", id="overview"): include partial/overview
    script(type="text/ng-template", id="themes"): include partial/themes
    script(type="text/ng-template", id="posts"): include partial/posts
    script(type="text/ng-template", id="editpost"): include partial/editpost
    script(type="text/ng-template", id="comments"): include partial/comments
    script(type="text/ng-template", id="settings"): include partial/settings
    script(type="text/ng-template", id="redirects"): include partial/redirects
    script(type="text/ng-template", id="users"): include partial/users
    script(type="text/ng-template", id="ips"): include partial/ips
    script(type="text/ng-template", id="images"): include partial/images
    script(type="text/ng-template", id="imagepreview"): include partial/imagepreview

block content

    nav.navbar.navbar-default.navbar-static-top(role="navigation", ng-controller="NavRootCtrl")
        .container

            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#panda-navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/admin")
                    img(src="/client/img/panda-icon-48.png", alt="Panda", title="")
                a.navbar-brand(href="/admin") Panda

            #panda-navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li: a(href="#/posts/new")
                        i.fa.fa-pencil.fa-fw
                        |  New Post
                    li: a(href="#/posts")
                        i.fa.fa-file-text.fa-fw
                        |  Posts
                    li: a(href=url, ng-href="{{url}}", target="_blank")
                        i.fa.fa-eye.fa-fw
                        |  View Blog
                ul.nav.navbar-nav.navbar-right
                    li.active: a(href="/logout") Sign Out

                p.navbar-text.navbar-img.navbar-right(ng-cloak): a(href="#/users", ng-if="user.$resolved")
                    img.img-circle(ng-src="{{user.image}}", alt="user.name", title="user.name", ng-show="user.image")
                    i.fa.fa-user.fa-3x(ng-hide="user.image")

                p.navbar-text.navbar-right(ng-show="user.name", ng-cloak)
                    | Signed in as&nbsp;
                    a.navbar-link(href="#/users", ng-bind="user.name")

    //- Content
    .container(ng-controller="RootCtrl", ng-class="breadcrumb[0].id", ng-cloak)
        .alert.alert-warning.fixed-top(ng-show="loading")
            i.fa.fa-spinner.fa-spin.fa-fw
            |  {{loading}}&hellip;

        div(ng-view)

    nav.navbar.navbar-default.navbar-fixed-bottom(role="navigation")
        .container
            p.navbar-text Panda v.#{version}

block js
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular-route.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular-resource.min.js")
    script(src="/client/js/vendors.min.js")
    script(src="/client/js/panda.min.js")
    script.
        angular.element(document).ready(function(){
            angular.module('panda.config', []).value('Config', {adminTheme:'#{adminTheme}'});
            angular.bootstrap(document, ['panda', 'panda.config']);
        });
