extends layout

block content
    .modal.show(role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    img.pull-left(src="/client/img/panda-icon-48.png", style="margin-right:-48px;")
                    h1.modal-title.text-center Login
                .modal-body
                    form.form-horizontal(role="form")
                        .form-group
                            label.col-sm-2.control-label Email
                            .col-sm-10
                                input.form-control(type="email", placeholder="Email")
                        .form-group
                            label.col-sm-2.control-label Password
                            .col-sm-10
                                input.form-control(type="password", placeholder="Password")
                        .form-group
                            .col-sm-offset-2.col-sm-10
                                button.btn.btn-block.btn-primary(type="button") Sign in

block js
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="/client/js/lib/bootstrap/bootstrap.min.js")
