extends layout

block content
    #login.modal.show(role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    img.pull-left(src=$adminAsset("/client/img/panda-icon-48.png"), style="margin-right:-48px;")
                    h1.modal-title.text-center Login
                .modal-body
                    if $isntEmpty(messages)
                        .alert.alert-danger
                            each msg in messages
                                .text-center
                                    i.fa.fa-exclamation-circle.fa-fw
                                    = msg

                    form.form-horizontal(role="form", action="/login", method="post")
                        .form-group
                            label.col-sm-2.control-label Email
                            .col-sm-10
                                .input-group
                                    span.input-group-addon: i.fa.fa-envelope-o.fa-fw
                                    input.form-control(type="email", placeholder="Email", name="email")
                        .form-group
                            label.col-sm-2.control-label Password
                            .col-sm-10
                                .input-group
                                    span.input-group-addon: i.fa.fa-key.fa-fw
                                    input.form-control(type="password", placeholder="Password", name="password")
                        .form-group
                            .col-sm-offset-2.col-sm-10
                                button.btn.btn-block.btn-primary(type="submit") Sign in

block js
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src=$adminAsset("/client/js/lib/bootstrap/bootstrap.min.js"))
